{% extends "layout.html" %}
{% block content %}
    <h1>Chate Page </h1>
            
        <body>
            <h2>Enter a Stock price </h2>
            <form method="POST">
                <input type="text" name="user_input" placeholder="Enter your input">
                <button type="submit">Submit</button>
            </form>
                {% if user_input %}
            <h2>You entered: {{ user_input }}</h2>
                {% if calculation_results %}
            <h3>Calculations:</h3>
            <ul>
                {% for key, value in calculation_results.items() %}
                     <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
      <h3>For now the closing price  
      <a class="nav-item nav-link" href="{{ url_for('home') }}">${{calculation_results['Closig Price']}}</a>
      </h3>

        </body>

              <a href="https://i.imgur.com/jI71D5T.jpg">
              <img src="https://media.gettyimages.com/id/1201441079/vector/nlp-and-machine-learning-conceptual-illustration.jpg?s=612x612&w=gi&k=20&c=fv6fWOObjBxcHPuwOlt1q344BesdfjM14GYR5VZQP7Q=" alt="A nice image from the internet" width="700" height="400">
                </a>
{% endblock content %}
    